name: Deploy Application

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Update code
        run: |
          cd /var/www/SoloQChall-OnyXWB
          git fetch --all
          git reset --hard origin/main

      - name: Install backend deps
        run: |
          cd /var/www/SoloQChall-OnyXWB/server
          npm install --omit=dev

      - name: Restart app
        run: |
          pm2 restart soloq || pm2 start /var/www/SoloQChall-OnyXWB/server/server.js --name soloq
          pm2 save
