name: Deploy Application

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull latest code
        run: |
          cd /home/dasch/website/SoloQChall-OnyXWB
          git fetch --all
          git reset --hard origin/main

      - name: Install dependencies
        run: |
          cd /home/dasch/website/SoloQChall-OnyXWB/server
          npm install --omit=dev

      - name: Restart app
        run: |
          pm2 restart soloq || pm2 start /home/dasch/website/SoloQChall-OnyXWB/server/server.js --name soloq
          pm2 save
